<ul class="fa-ul main-list">
  <li class="main-list-item">
    <span class="fa fa-lg main-list-item-icon"><img class="signature-icon" src="/images/signature-icon.png" alt="Eduardo Rubio"></span>
    <a href="https://eduardorubio.art/">Art</a>
  </li>
  <li class="main-list-item">
    <span class="fa fa-instagram fa-lg main-list-item-icon"></span>
    <a href="https://www.instagram.com/excentris/">More Art</a>
  </li>
  <li class="main-list-item">
    <span class="fa fa-github fa-lg main-list-item-icon"></span>
    <a href="https://github.com/excentris">Code</a>
  </li>
  <li class="main-list-item">
    <span class="fa fa-linkedin fa-lg main-list-item-icon"></span>
    <a href="https://www.linkedin.com/pub/eduardo-rubio/14/220/308">Professional Profile</a>
  </li>
  <li class="main-list-item">
    <span class="fa fa-pinterest fa-lg main-list-item-icon"></span>
    <a href="https://www.pinterest.com/excentris/">My own inspiration</a>
  </li>
</ul>
